
/* Estilização de TAGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #f2f2f2;
}

body, input, textarea, button {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
    color: #48cafe;
}

a {
    text-decoration: none;
    color: #3968fc;
}

span {
    margin-bottom: 0.4rem;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

span::after {
    content: attr(data-end) ;
    color: red ;
}

/*Estilização Header*/

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    justify-content: space-between;
}

.normalPreview {
    display: block;
}

.mbPreview {
    display: none;

    margin-top: 1rem;
}

/*Estilização Container*/

.container {
    height: 100vh;
    max-width: 992px;
    min-width: 350px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}


.container form {
    flex: 1;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
    justify-content: center;
}

.req {
    color: #ff0000;
}

.left-content, .right-content {
    display: flex;
    flex-direction: column;
}

/* Estilizando lado esquerdo do formulário*/

.left-content input {
    margin-bottom: 1rem;
    padding: 1rem;

}


.left-content textarea {
    height: 22vh;
    resize: none;
    padding: 1rem;
}

.left-content textarea, .left-content input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #202020;
}


/* Estilizando lado direito do formulário*/

.right-content {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.checkboxs {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.checkboxs input{
    padding: 1rem;
    vertical-align:middle;
    border: 1px solid #202020;
    border-radius: 4px;
    cursor: pointer;
}

.checkboxs input:checked, .prChecklist input:checked {
    background-color: #3968fc;
    color: #ffffff;
    border-color: #3968fc;
}


.checkboxs label{
    margin-left: 0.2rem;
    margin-right: 0.6rem;
    vertical-align:middle;
}

.right-content select{
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 6px;
    -moz-appearance: none; 
	-webkit-appearance: none; 
	appearance: none;
}

.tags input[type=text] {
    font-size: 16px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #202020;
    padding: 1rem;
    padding-right: 50px;
}

.tags input[type=button] {
    position: relative;
    text-align: center;
    align-items: center;
    width: 10%;
    margin-left: -3rem;
    height: 2rem;
    border-radius: 4px;
    border: none;
    background-color: #3968fc;

    vertical-align: middle;

    font-size: 0.8rem;
    font-weight: 700;
    color: #fff;

    cursor: pointer;

    transition: all 0.2s;

}

.tags input[type=button]:hover {
    filter: brightness(0.9);
}

.tags button span {
    color: #ffffff;
    margin: 0 auto;
}


.customTags {
    display: flex;
    flex-wrap: wrap;

}

.tagLabel {
    padding: 0.4rem;
    border-radius: 4px;

    font-size: 0.8rem !important;

    background-color: #ffffff;
    border: 1px solid #202020;

    margin: 0.4rem;

    transition: all 0.2s;
    word-wrap: break-word;

    cursor: pointer;

    transition: all 0.2s;
}

.tagLabel:hover {
    filter: brightness(0.9);
}


.submit-button {
    width: 100%;
    padding: 2rem;
    border-radius: 4px;
    border: none;

    background-color: #48cafe;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;

    font-weight: 700;
    color: #ffffff;
    font-size: 1.5rem;
}

.submit-button:hover {
    filter: brightness(0.9);
}

/*Estilização em telas menores*/

@media only screen and (max-width: 1000px) {
    html {
        font-size: 80%
    }

    .normalPreview {
        display: none;
    }
    
    .mbPreview {
        display: block;
    }
    
    .container {
        max-width: 600px;
    }
    .container form {
        flex: 1;
        
        display: flex;
        flex-direction: column;
    }

    .tags input[type=button] {
        margin-left: -4rem;
        max-width: 2.5rem;
    }
}









